# Системные файлы
.DS_Store
Thumbs.db

# Файлы виртуального окружения
.venv/

# Конфигурация PyCharm
.idea/

# Кеши Python
__pycache__/

# Логи и временные файлы
*.log
*.pyc
*.pyo

# Среды разработки
.vscode/
